In [ ]:
1.
database is collection of relaled data 
sql : it used to store formated data like table, objest,etc
ex mysql , mssql ,etx

nosql:it is used to store unformated data such as image , file , mp3
ex:mongoDB

In [ ]:
2.
ddl is data defination langugse, which is used to design the database

create it is used to carete a table 
ex: create table student(name varchar(10), age int);

drop : it is used to delete the table
ex:drop table student 

alter: it is used to change the degin of table
ex:ALTER TABLE STUDENT (age long)

truncate:it is used to delete complete table with backup
ec trancate table student

In [ ]:
3.
DML is data manuplating launage

insert : it is used to insert data in to table
eg: insert into student values('akshay',19);

update : it is used to update the value in a table
eg: update stduent set name='kumar' where name='akshay'

delete : it is used to delete data in database
eg: delete from studet where age=19

In [ ]:
4.
DQl is data queary langage
select : it is used retrive that data from datebase
eg: select * from student

In [ ]:
5.
primary key : it is key contrain which maintain that it shoud be unqiue and not null
it define while createing table 
foregin key: it is used to refernace anther table to maintain consistance and create relationship bw two table

In [2]:
6.
# import mysql.connector
mydb=mysql.connector.connect(
host="localhost",
user='abc',
password='password'
)
mycur=mydb.curasor()
mycursor.execute()

In [ ]:
7. from , where, groupup, having, select , order by, limit