In [1]:
# 1.
import pandas as pd
# List any five functions of the pandas library with execution.
pd.DataFrame({"Name":['a1','a2','a2','a1'],"age":[23,12,1,23]})#it convert disnary to pandas data frame
df=pd.read_csv("hello.csv") # it will read file from csv convert into pandas
df.to_clipboard()# it will copy to clipboard 
df.to_csv("data.csv")#it will export data to file 
df.describe()# it will create a basic statatic for numaric data
# df.dtypes()# it will show coloumn name & its datatype

             id      age
count  2.000000  2.000000
mean   2.000000  3.000000
std    1.414214  1.414214
min    1.000000  2.000000
25%    1.500000  2.500000
50%    2.000000  3.000000
75%    2.500000  3.500000
max    3.000000  4.000000

In [4]:
# 2.
def reindex(df):
    leng=len(df)
    fun=lambda x:2*x+1
    return df.reindex([fun(i) for i in range(0,leng)])

data={"A":[11,12,13,14,15,34],"B":[21,12,13,14,15,34],"C":[31,12,13,14,15,56]}
df=pd.DataFrame(data)
df=reindex(df)
print(df)

       A     B     C
1   12.0  12.0  12.0
3   14.0  14.0  14.0
5   34.0  34.0  56.0
7    NaN   NaN   NaN
9    NaN   NaN   NaN
11   NaN   NaN   NaN

In [ ]:
# 3.
def sum(df):
    sum=0
    for i in range(3):
        sum=df[i]+sum
    return sum

In [ ]:

data={"Value":[1,2,3,4,5,6,7,45,9]}
df=pd.DataFrame(data)
print("sum :",sum(df["Value"]))

sum : 6

In [ ]:
# 4.
def Word_count(df):    
    df["Count"]=df['Text'].apply(lambda x:len(x.split()))
    return df


df=pd.DataFrame({'Text':[' i am akshay ', ' i enjoy the working with data ', ' this is pandas ']})
df=Word_count(df)
print(df)

                              Text  Count
0                     i am akshay       3
1   i enjoy the working with data       6
2                  this is pandas       3

In [ ]:
# 5.
size=total number of elements.
shape = return (Rows, columns) of dataframe/series

In [ ]:
# 6.
pd.read_excel() # is used to read exvel files

In [ ]:
7.
def getname(df):
    df["name"]=df["Value"].apply(lambda x:x.split("@")[0])
    return df
data={"Value":["akshay@gmail.com","raj@gmail.com","hello@gmail.com"]}
df=pd.DataFrame(data)
df=getname(df)
df

              Value    name
0  akshay@gmail.com  akshay
1     raj@gmail.com     raj
2   hello@gmail.com   hello

In [ ]:
# 8.
def apply_cond(df):
    return df[(df['A']>5) & (df["B"]<10)]

data={"A":[1,2,3,4,5,6,7],"B":[7,56,5,4,2,1,1],"C":[1,2,3,4,5,6,7]}
df=pd.DataFrame(data)
print(apply_cond(df))

   A  B  C
5  6  1  6
6  7  1  7

In [ ]:
# 9
def sta(df):
    print("mean :",statistics.mean(df["Value"]))
    print("medain :",statistics.median(df["Value"]))
    print("stdev :",statistics.stdev(df["Value"]))
import statistics
val={"Value":[12,45,34,6,735,67,23,890,23,67,89]}
df=pd.DataFrame(val)
sta(df)

mean : 181
medain : 45
stdev : 315.1621804722134

In [ ]:
# 10.Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
# for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.

In [ ]:
def ma(df):
    df["Moving avg"]=df["sales"].rolling(7).mean()
    return df

data={"sales":[23,34,34,34,45,23,56,34,43,87,21,54,23,867],
 "Date":["10-11-2021","11-11-2021","12-11-2021","13-11-2021","14-11-2021","15-11-2021","16-11-2021","17-11-2021","18-11-2021","18-11-2021","19-11-2021","20-11-2021","21-11-2021","22-11-2021"]}
df=pd.DataFrame(data)
print(ma(df))

    sales        Date  Moving avg
0      23  10-11-2021         NaN
1      34  11-11-2021         NaN
2      34  12-11-2021         NaN
3      34  13-11-2021         NaN
4      45  14-11-2021         NaN
5      23  15-11-2021         NaN
6      56  16-11-2021   35.571429
7      34  17-11-2021   37.142857
8      43  18-11-2021   38.428571
9      87  18-11-2021   46.000000
10     21  19-11-2021   44.142857
11     54  20-11-2021   45.428571
12     23  21-11-2021   45.428571
13    867  22-11-2021  161.285714

In [56]:
# 11
def week(data):
    df = pd.to_datetime(data, format="%d-%m-%Y")
    return(df.strftime('%A'))

data={"Date":["10-11-2021","11-11-2021","12-11-2021","13-11-2021","14-11-2021","15-11-2021","16-11-2021","17-11-2021","18-11-2021","18-11-2021","19-11-2021","20-11-2021","21-11-2021","22-11-2021"]}
df=pd.DataFrame(data)
df['week']=df['Date'].apply(week)
df

          Date       week
0   10-11-2021  Wednesday
1   11-11-2021   Thursday
2   12-11-2021     Friday
3   13-11-2021   Saturday
4   14-11-2021     Sunday
5   15-11-2021     Monday
6   16-11-2021    Tuesday
7   17-11-2021  Wednesday
8   18-11-2021   Thursday
9   18-11-2021   Thursday
10  19-11-2021     Friday
11  20-11-2021   Saturday
12  21-11-2021     Sunday
13  22-11-2021     Monday

In [90]:
# 12

dates = ["10-11-2021","11-11-2021","12-11-2021","13-11-2021","14-11-2021","15-11-2021","16-11-2021","17-11-2021","18-11-2021","18-11-2021","19-11-2021","20-11-2021","21-11-2021","22-11-2021"]
df = pd.DataFrame(pd.Series(pd.to_datetime(dates,format="%d-%m-%Y")))
df[(df[0]>pd.to_datetime("11-11-2021",format="%d-%m-%Y")) & (df[0]<pd.to_datetime("18-11-2021",format="%d-%m-%Y"))]

           0
2 2021-11-12
3 2021-11-13
4 2021-11-14
5 2021-11-15
6 2021-11-16
7 2021-11-17